.author {
    background-color: antiquewhite;
    text-align: left;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0px 5px 10px 0px black;
}
.button_delete {
    width: 100px;
    height: 40px;
    background-color: crimson;
    color: aliceblue;
    border: none;
    box-shadow: 0px 5px 10px 0px black;
    border-radius: 10px;
}
.button_edit {
    width: 100px;
    height: 40px;
    background-color: cornflowerblue;
    color: aliceblue;
    border: none;
    box-shadow: 0px 5px 10px 0px black;
    border-radius: 10px;
    margin-right: 5px;
}
.table  {
    border: 1px solid;
  }